<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>AquaTerm v$(MARKETING_VERSION)</string>
	<key>CFBundleIconFile</key>
	<string>AquaTerm</string>
	<key>CFBundleSignature</key>
	<string>AqTS</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
</dict>
</plist>
